In [1]:
import pandas as pd

df = pd.read_csv('2019.csv')
df

,Rank,Wine,Vintage,Score,Price,Unnamed: 5
0,1.0,Château Léoville Barton St.-Julien-,2016,97.0,$98,NaN
1,NaN,This is so vivid as it brims with pastis-soake...,NaN,NaN,NaN,NaN
2,2.0,Mayacamas Cabernet Sauvignon Mount Veeder-,2015,96.0,$125,NaN
3,NaN,"Youthfully compact, with tightly wound black c...",NaN,NaN,NaN,NaN
4,3.0,San Giusto a Rentennano Chianti Classico-,2016,95.0,$36,NaN
...,...,...,...,...,...,...
195,NaN,Zesty currant and boysenberry notes are tangy ...,NaN,NaN,NaN,NaN
196,99.0,Domaines Dominique Piron Morgon Côte du Py-,2017,92.0,$28,NaN
197,NaN,A vivid minerally undertone marks the pure ras...,NaN,NaN,NaN,NaN
198,100.0,Domaine du Castel Grand Vin Haute-Judée-,2016,91.0,$85,NaN
199,NaN,"Ripe currant, blackberry and plum flavors are ...",NaN,NaN,NaN,NaN

In [2]:
clean1 = df[['Wine', 'Vintage', 'Score', 'Price']]
clean1.head()

                                                Wine Vintage  Score  Price
0                Château Léoville Barton St.-Julien-    2016   97.0   $98
1  This is so vivid as it brims with pastis-soake...     NaN    NaN    NaN
2         Mayacamas Cabernet Sauvignon Mount Veeder-    2015   96.0  $125
3  Youthfully compact, with tightly wound black c...     NaN    NaN    NaN
4          San Giusto a Rentennano Chianti Classico-    2016   95.0   $36

In [3]:
wine_name = []
wine_description = []
vintage = []
score = []
price = []
wine_name.append(clean1['Wine'].iloc[0:199:2])
wine_description.append(clean1['Wine'].iloc[1:200:2])
vintage.append(clean1['Vintage'].iloc[0:199:2])
score.append(clean1['Score'].iloc[0:199:2])
price.append(clean1['Price'].iloc[0:199:2])

vintage

[0      2016
 2      2015
 4      2016
 6      2016
 8      2012
        ...
 190    2017
 192    2016
 194    2016
 196    2017
 198    2016
 Name: Vintage, Length: 100, dtype: object]

In [4]:
winey = pd.DataFrame(wine_name)
transposed = winey.transpose()
transposed.reset_index(inplace=True)
transposed1 = transposed['Wine']

winey = pd.DataFrame(wine_description)
transposed = winey.transpose()
transposed.reset_index(inplace=True)
transposed2 = transposed['Wine']

winey = pd.DataFrame(vintage)
transposed = winey.transpose()
transposed.reset_index(inplace=True)
transposed3 = transposed['Vintage']

winey = pd.DataFrame(price)
transposed = winey.transpose()
transposed.reset_index(inplace=True)
transposed4 = transposed['Price']

winey = pd.DataFrame(score)
transposed = winey.transpose()
transposed.reset_index(inplace=True)
transposed5 = transposed['Score']

In [5]:
final_df = pd.DataFrame({
    'Wine': transposed1,
    'Description': transposed2,
    'Vintage': transposed3,
    'Price': transposed4,
    'Score': transposed5
})
final_df.head()

,Wine,Description,Vintage,Price,Score
0,Château Léoville Barton St.-Julien-,This is so vivid as it brims with pastis-soake...,2016,$98,97.0
1,Mayacamas Cabernet Sauvignon Mount Veeder-,"Youthfully compact, with tightly wound black c...",2015,$125,96.0
2,San Giusto a Rentennano Chianti Classico-,"This red offers a pure core of black currant, ...",2016,$36,95.0
3,Groth Cabernet Sauvignon Oakville Reserve-,"This delivers a very tightly focused, almost p...",2016,$150,96.0
4,Roederer Estate Brut Anderson Valley L'Ermitage-,"Extravagant, yet balanced and refined, with lu...",2012,$48,95.0

In [6]:
#Run table 'Wine' column through NLP algorithm

from flask import Flask,render_template,url_for,request
import pandas as pd 
import pickle
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.externals import joblib

nlp_model = open('wine_nlp_model2.pkl','rb')
vectorizer = open('vectorizer2.pkl','rb')
rfc = joblib.load(nlp_model)
cv = joblib.load(vectorizer)

/Users/brendanlegas/opt/anaconda3/lib/python3.7/site-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [7]:
predictor=[]
#for every row in 'Wine'
for row in final_df['Description']:
    input_text = str(row)
    data = [input_text]
    vect = cv.transform(data).toarray()
    model_prediction = rfc.predict(vect)
    model_prediction = str(model_prediction)
    model_prediction = model_prediction[1:2]
    predictor.append(model_prediction)
    

predictor

['4',
 '4',
 '4',
 '4',
 '3',
 '4',
 '4',
 '3',
 '3',
 '4',
 '4',
 '4',
 '3',
 '3',
 '4',
 '4',
 '3',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '3',
 '3',
 '3',
 '3',
 '4',
 '4',
 '4',
 '4',
 '3',
 '3',
 '3',
 '4',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '4',
 '4',
 '4',
 '4',
 '4',
 '3',
 '3',
 '3',
 '3',
 '3',
 '4',
 '3',
 '3',
 '4',
 '3',
 '3',
 '4',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '4',
 '3',
 '3',
 '3',
 '4',
 '3',
 '3',
 '4',
 '3',
 '3',
 '3',
 '3',
 '4',
 '3',
 '3',
 '3',
 '3',
 '4',
 '4',
 '3',
 '3',
 '3',
 '4',
 '3',
 '3',
 '3',
 '3',
 '4',
 '3',
 '3',
 '3',
 '3',
 '4',
 '3']

In [8]:
final_df['Model Rating'] = predictor
final_df.to_csv('model_2019_2.csv')
final_df

,Wine,Description,Vintage,Price,Score,Model Rating
0,Château Léoville Barton St.-Julien-,This is so vivid as it brims with pastis-soake...,2016,$98,97.0,4
1,Mayacamas Cabernet Sauvignon Mount Veeder-,"Youthfully compact, with tightly wound black c...",2015,$125,96.0,4
2,San Giusto a Rentennano Chianti Classico-,"This red offers a pure core of black currant, ...",2016,$36,95.0,4
3,Groth Cabernet Sauvignon Oakville Reserve-,"This delivers a very tightly focused, almost p...",2016,$150,96.0,4
4,Roederer Estate Brut Anderson Valley L'Ermitage-,"Extravagant, yet balanced and refined, with lu...",2012,$48,95.0,3
...,...,...,...,...,...,...
95,Benanti Etna-,"A medium-bodied red, with a crisp tannic frame...",2017,$28,90.0,3
96,Château Pichon Longueville Lalande Pauillac-,"Saturated with dark currant, fig and blackberr...",2016,$197,97.0,3
97,Wine & Soul Douro Manoella-,Zesty currant and boysenberry notes are tangy ...,2016,$22,90.0,3
98,Domaines Dominique Piron Morgon Côte du Py-,A vivid minerally undertone marks the pure ras...,2017,$28,92.0,4
99,Domaine du Castel Grand Vin Haute-Judée-,"Ripe currant, blackberry and plum flavors are ...",2016,$85,91.0,3